.operation {
  margin-bottom: 2rem;
  h2 {
    padding: 1rem 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .operation h2 {
    text-align: center;
  }
}

.operation__steps {
  list-style-type: none;
  padding-left: 0rem;
  li {
    @include operationsteps-li;
    p {
      font-weight: 500;
      margin-left: 1.5rem;
    }
  }
}
@media screen and (min-width: 1280px) {
  .operation__steps {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.operation__steps--number {
  @include operationsteps-number;
}
  
.operation__steps--icon {
  color: $color-operation-steps-icon;
  font-size: 1.2rem;
  margin-left: 20px;
}

.operation__steps li:hover {
  background: lighten($color-primary, 30%);
}
