.maps {
  background: darken($color-mainbg-secondary, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}

.maps__search input{
  @include maps;
}
