$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$linear-gradient:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
$linear-gradient-loader :linear-gradient( #FFFFFF, #FF79DA, #9356DC);

$color-mainbg-primary: white;
$color-mainbg-secondary: #f2f2f2;
$color-bg-footer: #353535;

$color-text-footer: white;

$color-operation-steps-icon: grey; 

$font-cursive: 'Shrikhand', cursive;
